@import 'tailwindcss';

:root {
  font-family: theme('fontFamily.sans');
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000204;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

@layer utilities {
  .nav-hover-btn {
    @apply relative text-xs uppercase cursor-pointer ms-10 text-blue-50;
  }
  .hero-img {
    @apply bg-no-repeat bg-cover sm:bg-center;
    background-image: url('/hero-background.webp');
  }
  .floating-nav {
    @apply mx-4 sm:mx-0 bg-[#010204b2] rounded-xl backdrop-blur-md shadow-lg;
  }
  
}
